.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.upper {
  display: flex;
  flex: 1;
  width: 100%;
}

.left-section .right-section {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.right-section {
  width: 50%;
  overflow: auto;
  max-height: 70vh;
}

.left-section {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.json-view {
  overflow: auto;
  height: 100%;
  font-size: small;
  line-height: 1;
  background-color: black;
}

.console {
  height: 30vh;
  background-color: #000;
  color: #0f0;
  padding: 10px;
  overflow-y: auto;
  font-family: monospace;
  border: 1px solid #333;
}

button {
  width: 200px;
  margin: 5px;
}

.json-view-str-val {
  color: #0f0;
}